img {
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  border-radius: 3px;
  border: 1px solid;
}

ul img {
  width: 200px;
}

label {
  display: block;
}
